.title {
  display: block;
  font-family: "Quicksand", sans-serif;
  padding: 40px; }
  .title div {
    font-size: 35px;
    font-weight: bolder; }
  .title span {
    margin-top: 10px;
    font-size: 20px;
    color: #999;
    display: block; }

.error {
  padding: 40px; }

.formWrap {
  font-family: "Open Sans", sans-serif;
  padding: 150px 40px;
  width: 100%;
  box-sizing: border-box; }
  .formWrap input {
    padding: 20px 0px;
    font-size: 24px;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    color: black;
    width: 100%;
    float: middle; }
  .formWrap #submitButton {
    color: #72cbc1;
    font-size: 24px;
    margin-top: 100px;
    float: right; }

#resultsHeader {
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  padding: 40px;
  position: relative; }
  #resultsHeader #filterInput {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #999; }
    #resultsHeader #filterInput input {
      width: calc(100% - 42px);
      font-size: 24px;
      line-height: 24px;
      padding: 0px 0px 24px 0px;
      float: left;
      border: none; }
    #resultsHeader #filterInput input:focus + i {
      color: #72cbc1; }
    #resultsHeader #filterInput i.fa-search {
      font-size: 2em !important;
      color: #999;
      float: left;
      margin-top: 5px; }
    #resultsHeader #filterInput i.fa-search.active {
      color: #72cbc1; }
  #resultsHeader #myBalance {
    float: left; }
    #resultsHeader #myBalance .balanceValue {
      font-size: 24px; }
    #resultsHeader #myBalance .balanceLabel {
      font-size: 20px;
      color: #999; }

.active {
  color: #72cbc1; }

.highlight {
  background-color: #fbf5b4; }

#tableWrap {
  padding: 40px; }
  #tableWrap tbody {
    display: block;
    overflow: auto;
    height: calc(100% - 237px); }
  #tableWrap thead, #tableWrap tbody tr {
    display: table;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
    width: calc( 100% - 1em); }
  #tableWrap thead {
    width: calc( 100% - 1em); }
  #tableWrap table {
    width: 100%;
    border-collapse: collapse; }
    #tableWrap table .sortButton {
      padding: 20px 0px;
      font-weight: bolder;
      text-align: left;
      width: 33%; }
    #tableWrap table .sortButton:hover {
      cursor: pointer; }
    #tableWrap table .transactionRow {
      padding: 20px 0px;
      border-bottom: 1px solid #999;
      overflow: hidden; }
      #tableWrap table .transactionRow span {
        text-overflow: ellipsis; }
    #tableWrap table .dateElement {
      color: #999;
      font-weight: bolder; }

.alignRight {
  text-align: right !important; }

.bold {
  font-weight: bold; }

.show {
  display: block; }

.hide {
  display: none; }

#loading {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#homeButton {
  font-size: 24px;
  color: #999;
  font-family: "Open Sans", sans-serif;
  float: right; }

#searchBarLabel {
  display: block;
  font-weight: bolder; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9f9f9; }

input:focus {
  outline: none; }

button, input {
  border: none;
  background-color: #f9f9f9; }

input {
  border: none;
  border-bottom: 1px solid #999; }

button:focus {
  outline: none; }

button:hover {
  cursor: pointer; }

button.disabled:hover {
  cursor: not-allowed !important; }
